<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Metal Diseño</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Hero-Clean-images.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navbar-Centered-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pricing-Yearly--Monthly-badges.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}"><img src="{% static 'img/logo%20metal%20sin%20fondo2.png' %}" style="width: 175px;height: 45px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3" style="margin-right: 25px;">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'empresa' %}">Nuestra Empresa</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'trabajos' %}">Trabajos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                </ul>{% if user.is_authenticated %}
                <a href="{% url 'create_post' %}">
                    <button class="btn btn-primary me-2 py-2 px-4" type="button" style="background: #FF0000; font-weight: bold; text-shadow: 0px 0px 11px var(--bs-emphasis-color); border-style: none; font-size: 16px;">
                        <strong>Crear Post</strong>
                    </button>
                </a>
                <a href="{% url 'logout' %}">
                    <button class="btn btn-primary me-2 py-2 px-4" type="button" style="background: #FF0000; font-weight: bold; text-shadow: 0px 0px 11px var(--bs-emphasis-color); border-style: none; font-size: 16px;">
                        <strong>Cerrar Sesión</strong>
                    </button>
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <button class="btn btn-primary me-2 py-2 px-4" type="button" style="background: #FF0000; font-weight: bold; text-shadow: 0px 0px 11px var(--bs-emphasis-color); border-style: none; font-size: 16px;">
                        <strong>Login</strong>
                    </button>
                </a>
            {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <h2 class="mt-5">Iniciar Sesión</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
        <div class="mt-3">
            <a href="{% url 'home' %}">Regresar a Inicio</a>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
