<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Metal Diseño</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/Hero-Clean-images.css' %}">
      <link rel="stylesheet" href="{% static 'css/Navbar-Centered-Links-icons.css' %}">
      <link rel="stylesheet" href="{% static 'css/Pricing-Yearly--Monthly-badges.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
   <body>
      {% include 'includes/_navbar.html' %}
      
      <section class="py-4 py-xl-5">
         <div class="container">
            <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: url(&quot;https://images.unsplash.com/photo-1598302936625-6075fbd98dd7?q=80&amp;w=2070&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&quot;) center / cover;height: 500px;">
               <div class="row">
                  <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                     <div>
                        <h1 class="text-uppercase fw-bold mb-3" style="text-shadow: 5px 3px 0px var(--bs-emphasis-color);color: rgb(255,255,255);"><span style="color: var(--tw-prose-body);">Aquí presentamos una selección de nuestros proyectos realizados.</span></h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{% static 'img/proyectos/pr1.jpg' %}">
                     <div class="py-4">
                        <h4 style="text-align: center;">Chambranas del Aeropuerto</h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{% static 'img/proyectos/pr2.jpg'%}">
                     <div class="py-4">
                        <h4 style="text-align: center;">Chambranas del Aeropuerto 2</h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{% static 'img/proyectos/pr3.jpg'%}">
                     <div class="py-4">
                        <h4 style="text-align: center;">Puerta principal edificio Copacabana viña del mar</h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" src="{% static 'img/proyectos/pr4.jpg'%}">
                     <div class="py-4">
                        <h4 style="text-align: center;">Puertas Abatibles</h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" src="{% static 'img/proyectos/pr5.jpg'%}">
                     <div class="py-4">
                        <h4 style="text-align: center;">Modernización cabina edificio Brasil en viña del mar</h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" src="{% static 'img/proyectos/pr6.jpg'%}" style="height: 554.656px;">
                     <div class="py-4">
                        <h4 style="text-align: center;">Puertas Abatibles para funicular Viña del Mar</h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" src="{% static 'img/proyectos/pr9.jpg'%}" style="height: 739.547px;">
                     <div class="py-4">
                        <h4 style="text-align: center;">Protecciones de escalera mecánica en acrílico obra aeropuerto</h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" src="{% static 'img/proyectos/pr7.jpg'%}">
                     <div class="py-4">
                        <h4 style="text-align: center;"><span style="color: rgb(31, 31, 31);">Banco Santander&nbsp;bandera 140</span></h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" src="{% static 'img/proyectos/pr10.jpg'%}" style="height: 739.547px;">
                     <div class="py-4">
                        <h4 style="text-align: center;"><span style="color: rgb(31, 31, 31);">Puertas de abatir 2024</span></h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" src="{% static 'img/proyectos/pr11.jpg'%}">
                     <div class="py-4">
                        <h4 style="text-align: center;"><span style="color: rgb(31, 31, 31);">Monta Platos</span></h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" src="{% static 'img/proyectos/pr12.jpg'%}">
                     <div class="py-4">
                        <h4 style="text-align: center;"><span style="color: rgb(31, 31, 31);">Puerta guillotina montaplatos</span></h4>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div>
                     <img class="rounded img-fluid d-block w-100 fit-cover" src="{% static 'img/proyectos/pr13.jpg'%}">
                     <div class="py-4">
                        <h4 style="text-align: center;"><span style="color: rgb(31, 31, 31);">Soporte levanta motores escalera mecanica</span></h4>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col" style="text-align: center;">
                  <a href="{% static 'catalogo.pdf'%}" target="_blank">
                  <button class="btn btn-primary me-2 py-2 px-4" type="button" style="background: #FF0000; font-weight: bold; text-shadow: 0px 0px 11px var(--bs-emphasis-color); border-style: none; font-size: 20px;">
                  Descargar Catálogo
                  </button>
                  </a>
               </div>
            </div>
         </div>
         <section class="py-4 py-xl-5">
            <section class="py-4 py-xl-5">
               <div class="container">
                  <div class="text-center p-4 p-lg-5">
                     <h1 class="fw-bold mb-4">¿Interesado por alguno de nuestros trabajos? ¡No dudes en ponerte en contacto con nosotros para obtener más información!</h1>
                     <a href="{% url 'contacto' %}"><button class="btn btn-primary me-2 py-2 px-4" type="button" style="background: #FF0000;font-weight: bold;text-shadow: 0px 0px 11px var(--bs-emphasis-color);border-style: none;font-size: 25px;">Contacto</button></a>
                  </div>
               </div>
            </section>
         </section>
      </section>
      {% include 'includes/_footer.html' %}
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/bs-init.js' %}"></script>
   </body>
</html>